body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size:60px;
    font-weight: 600;
}
h2{
    font-size: 34px;
}
.orange-color{
    color: orange;
}

.flexible_container{
    display: flex;
    margin-bottom:100px ;
}
.top_banner{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat; 
}

.half-width{
    width: 40%;
    padding-left:6%;
}

.half-width h3{
    font-weight: 600;
    font-size: 1.4em;
}

.half-width p, footer p{
    font-weight: 400;
    color: dimgray;
    font-size: 18px;
}

.half-width img{
    width: 100%;
    
}

.link_button{
    font-weight: 700;
    font-size: 18px;
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    background: linear-gradient(45deg, lightsalmon, tomato);;
}

.dream-big{
    background-image: url(./images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}

.experience_area{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left ;
}

.experience_area h1{
    margin-left: 5%;
}

.experiance_item{
    width: 40%;
    box-shadow: 0px 0px 40px gray;
    margin: 0 5% 0 5%;
    padding: 20px 20px 100px;
    border-radius: 0px;
}

.experiance_item h3{
    font-weight: 600;
    font-size: 1.6em;
}

.experiance_item p{
    font-weight: 400;
    color: dimgray;
    font-size: 18px;
}

#full_stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}

#babay_web_dev{
    border-left: 7px solid; 
    border-image: linear-gradient(180deg , blue, cyan );
    border-image-slice: 1;
}

footer p{
    text-align: center;
}


